* { box-sizing: border-box; }

html, body{ height: 100%; }

body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Ruda';
    color: rgba(0,0,0,.7);
}
body.locked { overflow: hidden; }

/* ------------------------------------------------ hard rezet */

h1, h2, h3, h4, p, ul, ol, blockquote {margin: 0; padding: 0;}
ul, ol { list-style: none; }

/* ------------------------------------------------ commons */

a { color: inherit; text-decoration: none; }
.ruda { font-family: Ruda; }
.savate{
    font-family: 'Savate';
    font-weight: normal;
}

:root {

}

/* ------------------------------------------------ intro video */

#video {
    overflow:hidden;
    width: 100%;
    height:100%;
    height: 100vh;
    height: calc(100vh + 2em);
    position: relative;
    background: black url("img/preloader.gif") no-repeat center center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#video video{
    /* display: none; */
    height:100%;
    width:100%;
    object-fit:cover;
}



@media only screen and (orientation:portrait){
    #video {
        height: 100vh;
        width:100vw;
    }
    #video video {
        transform: rotate(90deg);
        width:100vh;
    }
}

/* sur-titre d’introduction */

#introtext {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    color: white;
    font-size: calc(1vw + 1em);
    letter-spacing: 0.02em;
    padding: 2em calc(5vw);
}

.small{
    font-size: .65em;
}
.slide{
    visibility: hidden;
}
.slide.current,
.slide.title{
    visibility: visible;
}
.slide.title{
    /* animation-name: glitch-anim-1;
    animation-duration: 8s;
    animation-delay: 13s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 1; */
    font-size: 1.25em;
}
/* .slide.credits{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100vh, 100vw);
    display: block;
    font-size: .65em;
    visibility: visible;
    margin: -1em 0 0 -2em;
} */
/* alt */
.slide.credits {
    position: absolute;
    bottom: 3em;
    display: block;
    font-size: .5em;
    margin: 0;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

#intro-overlay{
    /* pointer-events: none; */
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: black;
    opacity: 0;
    transition: opacity 250ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
#intro-overlay.visible{
    opacity: 1;
}

button.replay.play {
    background-position: 0 0;
    opacity: 1;
}
.autoplay .replay.play{ display: none; }
button.replay{
    background: url("img/play.svg")  0 -60px;
    pointer-events: all;
    width: 60px;
    height: 60px;
    opacity: 0;
    border: none;
    transition: opacity 250ms ease-out 500ms, transform 250ms ease-out;
    cursor: pointer;
}

.replay:hover{
    transform:scale(1.2)
}
#intro-overlay.visible button{
    opacity: 1;
}
#intro-overlay.start {
    background: transparent;
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}


#video.playing #intro-overlay{
    background: transparent;
    justify-content: flex-end;
    opacity: 1;

}
#video.playing #intro-overlay button{
    opacity: 1;
}


/* ------------------------------------------------ titrage home */




/* ------------------------------------------------ home */




#skrollr-body{
    height:300%;
    position: relative;
    width: 100%;
}

#nav {
    position: sticky;
    top:0;
}

.mountain {
    position:absolute;
    width: 100%;
    background-position: top center;
    overflow:visible;
    transition: bottom 250ms ease-out;
    height:40vh;
    pointer-events: none;
}
#mountain3 { z-index:3; }
#mountain2 { z-index:4; }
#mountain1 { z-index:5; }

#mountain3 {
    padding-left: 50vw;
    width: 255vw;
    /* bottom:50vh; */
    top: 10vh;
}
#mountain2 {
    padding-left: 30vw;
    width: 240vw;
    /* bottom:25vh; */
    top: 35vh;
}
#mountain1 {
    padding-left: 10vw;
    width: 255vw;
    /* bottom:0; */
    top: 60vh ;
}

.line {
    white-space: nowrap;
    height: 100%;
    pointer-events: none;
}
.line > * {
    width: 35vw;
    /* height: 100%; */
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

/* @media (max-width: 600px){
    .line > * { width: 75vw; }
}
@media (max-width: 450px){
    .line > * { width: 115vw; }
}
 */
/* ------------------------------------------------ nav */

.line header {
    padding: 3em;
}
header h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: "Savate";
    /* font-family: "Ruda";
    text-transform: uppercase;
    letter-spacing: 0.05em; */
    margin-bottom: 0.25em;
    font-weight: 900;
    font-size: 1em;
    font-size: 1.15em;
}
header p { margin: 0; max-width:20ch; white-space: normal;}

.homelink a {
    display: inline-block;
    pointer-events: all;
}
.homelink h3 { display: none; }

.homelink .img{
    display: block;
    position: relative;
    max-width: 280px;
}
.homelink img {
    max-width: 100%;
    transform-origin: center center;
    animation-play-state: paused;
    display: block;
    filter: grayscale(1) contrast(200%);
}
.homelink .info{
    position: absolute;
    z-index: 2;
    font-size: .75em;
    background: white;
    padding: 2px 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.homelink a:hover img {filter: none; }

.audioinfo {display: none;}



/* ------------------------------------------------ player audio */

#audioplayer {
    background: black;
    height: 2em;
    top: 0;
    position: sticky;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 2.5em;
}
#audioplayertextcontainer {
    animation: none ;
    padding-right: 100vw;
}
#audioplayertextcontainer.marquee {
    animation: scrolling 25000ms infinite linear;
}
@keyframes scrolling {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
#audioplayertext{
    color: #ddd;
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: .85em;
    white-space: nowrap;
    padding-right: 100vw;
}
#audio[src=""] ~ button { display: none; }

#audioplayer button{
    background: black;
    padding: 0 .15em;
    font-size: 1.5em;
    border: 4px solid black;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
}
#audioplayer strong,
#audioplayer span{
    background: url('img/playpause.svg');
    background-position: 0 -1em;
    display: block;
    width: 1em;
    height: 1em;
    text-indent: 2em;
    overflow: hidden;
    white-space: nowrap;
    background-size: 100% auto;
}
#audioplayer span{
    background-position: 0 0;
}
#audioplayer .paused strong{ display: block; }
#audioplayer .paused span{ display: none; }

#audioplayer .playing strong{ display: none; }
#audioplayer .playing span{ display: block; }


/* ------------------------------------------------ content */

#aproposlink {
    position: absolute;
    right: 20px;
    top: 3em;
    background: url("img/apropos-survol.png") no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    text-indent: 250px;
    white-space: nowrap;
    filter: grayscale(1) contrast(200%);
    z-index: 999;
}

#aproposlink:hover {
    filter: none;
}

#site-header {
    position: relative;
    /* position: sticky; */
    padding: 3em;
    top: 0;
}
#site-header h2 {
    top: 0;
    font-size: 2em;
    margin-top: 0;
    color: black;
}

#intro_libre_acces { position: absolute; }

#content { 
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3em 3em;
}
.content {
    display: none;
    overflow: auto;
    flex:2 ;
}
.content > div {
    visibility: hidden;
}
.content.visible > div{
    visibility: visible;
    display: block;
}
.content.hidden > div{
    opacity: 0;
    min-height: 120vh;
    display: none;
}

.content a {
    text-decoration: underline;
}

.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content ul {
    margin: 1em 0 .25em;
}
.content-texte .texte {
    max-width: 40em;
    min-width: 28em;
    padding-right: 80px;
}
.content h4 + p {
    margin-top: 0;
}

/* texte */

.content-texte p {
    line-height: 1.5;
}
.content h1 {
    font-size: 2em;
    font-family: "Savate";
    line-height: 1.2;
    margin: 2rem auto 1rem auto;
    color: black;
    max-width: 1280px !important;
}

#aside{
    position: sticky;
    top: 2em;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    z-index: -1;
    order: 2;
    visibility: visible;
}
#aside.hidden{ visibility: hidden; }
#aside:empty{display: none;}
.ref { background: black; display: inline-block; width: 12ch; height: .6em; }

#aside figure {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    transition: all 250ms ease-out;
    width: 100%;
}
#aside figure img { width: 100% }

#aside figure.visible{
    opacity: 1;
    transition: all 250ms ease-out;
}

/* à propos */

#apropos .texte {
    display: flex;
    max-width: 60em;
    min-width: 28em;
}
#apropos .texte > :first-child{
    flex: 5;
    padding-right: 80px;
}
#apropos .texte > :last-child{
    flex: 2;
}

/* gallery */
.gimg p {
    font-size: .85em;
}
.gallery { margin-top: 1em; }

.owl-nav {
    position: absolute;
    top: 50%;
    font-size: 3em;
    color: white;
    width: 100%;
}
.owl-prev {
    position: absolute;
    left: .75em;
}
.owl-next {
    position: absolute;
    right: .75em;
}
/* ------------------------------------------------ video content */


.content .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.content .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.plyr__poster {
    background-color: white;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------------------------------------ media */

@media (max-width: 450px) {
    
    #nav,
    .mountain,
    .line {
        position: static !important; 
        transform: none !important; 
        width: auto !important; 
        bottom: auto !important; 
        top:auto !important;
        height: auto !important;
        padding: 0 !important;;
    }

    .mountain {
       /*  border-top: 8px solid black;
        padding-top: 1em; */
        margin-top: 6em;
    }
    .line > * { display: block; width: auto !important; }
    .homelink {margin: 1em 0 !important; width: auto !important}
    .homelink img {
        /* max-width: 70%; */
        margin: 0 auto;
    }
    .line header h2 { font-size: 2em; color: black; white-space: normal; line-height: 1; }
    #site-header {}
    header p { max-width: 100%; }
    #aproposlink {
        /* position: static;
        width: auto;
        background: none;
        padding: 0 20px; */
        position: absolute;
        background: none;
        width: 30px;
        padding: 0;
        z-index: 999;
        height: 30px;
        right: 10px;
    }
    #aproposlink::after {

        content: "?";
        display: block;
        /* color: rgba(255,255,255,.6); */
        position: absolute;
        top: 0;
        left: -240px;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 30px;

    }

    #site-header,
    .line header,
    #content {
        padding: 20px;
    }
    
    #intro_libre_acces { position: static; min-height: 6em; }
 /*    .content > div {padding: 20px;} */

    #aside { display: none; }
    .content-texte .texte { min-width: 0; padding: 0; }
    .content-texte .texte span.ref { display: none; }
    .content-texte .texte img { display: block !important; margin: 1em 0; }

    .flex {
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
    }
}