* { box-sizing: border-box; }

html, body{ height: 100%; }

body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Ruda';
    color: rgba(0,0,0,.7);
}
body.locked { overflow: hidden; }

/* ------------------------------------------------ hard rezet */

h1, h2, h3, h4, p, ul, ol, blockquote {margin: 0; padding: 0;}
ul, ol { list-style: none; }

/* ------------------------------------------------ commons */

a { color: inherit; text-decoration: none; }
.ruda { font-family: Ruda; }
.savate{
    font-family: 'Savate';
    font-weight: normal;
}

:root {

}

/* ------------------------------------------------ intro video */

#video {
    overflow:hidden;
    width: 100%;
    height:100%;
    height: 100vh;
    height: calc(100vh + 2em);
    position: relative;
    background: black url("img/preloader.gif") no-repeat center center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#video video{
    /* display: none; */
    height:100%;
    width:100%;
    object-fit:cover;
}



@media only screen and (orientation:portrait){
    #video {
        height: 100vh;
        width:100vw;
    }
    #video video {
        transform: rotate(90deg);
        width:100vh;
    }
}

/* sur-titres d’introduction */

#introtext {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    color: white;
    font-size: calc(1vw + 1em);
    letter-spacing: 0.02em;
    padding: 2em calc(5vw);
}


.slide {
    visibility: hidden;
}
    .small {
        font-size: .65em;
    }
    .slide.current {
        visibility: visible;
    }
    .slide.title {
        font-size: 1.25em;
    }
    .slide.credits {
        position: absolute;
        bottom: 3em;
        display: block;
        font-size: .5em;
        margin: 0;
    }

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

#intro-overlay{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: black;
    opacity: 0;
    transition: opacity 250ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
#intro-overlay.visible{
    opacity: 1;
}
#intro-overlay.start {
    background: transparent;
    opacity: 1;
}
#introbutton {
    outline: none;
    background: url("img/introbutton.svg")  0 0px;
    pointer-events: all;
    width: 60px;
    height: 60px;
    display: none;
    border: none;
    transition: transform 250ms ease-out;
    cursor: pointer;
}
#introbutton:focus{outline: none;}
#introbutton.skip {
    background-position: 0 -60px;
    display: block;
}
#introbutton.replay {
    background-position: 0 0;
    display: block;
}
#introbutton:hover{
    transform:scale(1.2)
}
#video.playing #intro-overlay{
    opacity: 1;
    background: transparent;
    justify-content: flex-end; /* aligne le bouton à droite */
}



/* ------------------------------------------------ nav */

#skrollr-body{
    height:300%;
    position: relative;
    width: 100%;
}

#nav {
    position: sticky;
    top:0;
}

.mountain {
    position:absolute;
    width: 100%;
    background-position: top center;
    overflow:visible;
    transition: bottom 250ms ease-out;
    height:40vh;
    pointer-events: none;
}

#mountain3 { z-index:3; }
#mountain2 { z-index:4; }
#mountain1 { z-index:5; }

#mountain3 {
    padding-left: 50vw;
    width: 255vw;
    /* bottom:50vh; */
    top: 10vh;
}
#mountain2 {
    padding-left: 30vw;
    width: 240vw;
    /* bottom:25vh; */
    top: 35vh;
}
#mountain1 {
    padding-left: 10vw;
    width: 255vw;
    /* bottom:0; */
    top: 60vh ;
}

.line {
    white-space: nowrap;
    height: 100%;
    pointer-events: none;
}
.line > * {
    width: 35vw;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}


/* ------------------------------------------------ nav contents */

.line header {
    padding: 3em;
}
header h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: "Savate";
    margin-bottom: 0.25em;
    font-weight: 900;
    font-size: 1em;
    font-size: 1.15em;
}

header p { margin: 0; max-width:20ch; white-space: normal;}

.homelink a {
    display: inline-block;
    pointer-events: all;
}
.homelink h3 { 
    display: none; 
}
.homelink .img{
    display: block;
    position: relative;
    max-width: 280px;
}
.homelink img {
    max-width: 100%;
    transform-origin: center center;
    animation-play-state: paused;
    display: block;
    filter: grayscale(1) contrast(200%);
}
.homelink .info{
    position: absolute;
    z-index: 2;
    font-size: .75em;
    background: white;
    padding: 2px 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.homelink a:hover img {
    filter: none; 
}

.audioinfo { 
    display: none; /* texte pour les audios (à l’intérieur du lien) */
}



/* ------------------------------------------------ player audio */

#audioplayer {
    background: black;
    height: 2em;
    top: 0;
    position: sticky;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 2.5em;
}
#audioplayertextcontainer {
    animation: none ;
    padding-right: 100vw;
}
#audioplayertextcontainer.marquee {
    animation: scrolling 25000ms infinite linear;
}
@keyframes scrolling {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
#audioplayertext{
    color: #ddd;
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: .85em;
    white-space: nowrap;
    padding-right: 100vw;
}

#audio[src=""] ~ button { display: none; } /* Si audio sans src */

#audioplayer button{
    background: black;
    padding: 0 .15em;
    font-size: 1.5em;
    border: 4px solid black;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
}

#audioplayer strong,
#audioplayer span{
    background: url('img/playpause.svg');
    background-position: 0 -1em;
    display: block;
    width: 1em;
    height: 1em;
    text-indent: 2em;
    overflow: hidden;
    white-space: nowrap;
    background-size: 100% auto;
}
#audioplayer span{
    background-position: 0 0;
}

#audioplayer .paused strong{ display: block; }
#audioplayer .paused span{ display: none; }
#audioplayer .playing strong{ display: none; }
#audioplayer .playing span{ display: block; }


/* ------------------------------------------------ à propos */

#aproposlink {
    position: absolute;
    right: 20px;
    top: 3em;
    background: url("img/apropos-survol.png") no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    text-indent: 250px;
    white-space: nowrap;
    filter: grayscale(1) contrast(200%);
    z-index: 999;
}

#aproposlink:hover {
    filter: none;
}


/* ------------------------------------------------ titre du site */

#site-header {
    position: relative;
    /* 
    position: sticky; 
    top: 0;
    */
    padding: 3em;    
}
#site-header h2 {
    top: 0;
    font-size: 2em;
    margin-top: 0;
    color: black;
}
#site-header i {
    display: inline-block;
    animation: cafeine 20ms infinite alternate;
}

@keyframes cafeine {
    0% {transform: translateX(0px);}
    25% {transform: translateX(-1px);}
    100% {transform: translateX(1px);}
}
#intro_libre_acces { position: absolute; } /* Permet le changement de contenu sans modification du layout */

/* ------------------------------------------------ contenus */

#content { 
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3em 3em;
}
.content {
    display: none; /* Cache tous les contenus */
    overflow: auto; 
    flex:2; /* À mettre en relation avec #aside { flex: 1; } */
}
.content > div {
    visibility: hidden;
}
.content.visible > div{
    visibility: visible;
    display: block;
}
.content.hidden > div{
    /* État temporaire : contenus en transition */
    opacity: 0;
    min-height: 120vh; 
    display: none; /* @todo bizarre */
}


/* ------------------------------------------------ mise en forme des contenus */

.content a {
    text-decoration: underline;
}

.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content ul {
    margin: 1em 0 .25em;
}
.content h4 + p {
    margin-top: 0;
}

.content h1 {
    font-size: 2em;
    font-family: "Savate";
    line-height: 1.2;
    margin: 2rem auto 1rem auto;
    color: black;
    max-width: 1280px !important; /* @todo important ? */
}

.content p {
    line-height: 1.5;
}

/* mise en page du texte */

.content-texte .texte {
    max-width: 40em;
    min-width: 28em;
    padding-right: 80px;
}

/* aside pour images selon le scroll */

#aside{
    position: sticky;
    top: 2em;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    z-index: -1;
    order: 2;
    visibility: visible;
}
#aside.hidden { visibility: hidden; }
#aside:empty { display: none;}
.ref { 
    background: black; 
    display: inline-block; 
    width: 12ch; 
    height: .6em; 
}

#aside figure {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    transition: all 250ms ease-out;
    width: 100%;
}
#aside figure img { width: 100% }

#aside figure.visible{
    opacity: 1;
    transition: all 250ms ease-out;
}

/* à propos */

#apropos .texte {
    display: flex;
    max-width: 60em;
    min-width: 28em;
}
#apropos .texte > :first-child{
    flex: 5;
    padding-right: 80px;
}
#apropos .texte > :last-child{
    flex: 2;
}

/* gallery */

.gallery { 
    margin-top: 1em; 
}

.gimg p {
    font-size: .85em;
}

.owl-nav {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    font-size: 3em;
    margin-top: -1.5em;
}
.owl-prev {
    position: absolute;
    left: .75em;
}
.owl-next {
    position: absolute;
    right: .75em;
}

/* ------------------------------------------------ video content */

.plyr__poster {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------------------------------------ media query brutale… */

@media (max-width: 450px) {
    
    #nav,
    .mountain,
    .line {
        position: static !important; 
        transform: none !important; 
        width: auto !important; 
        bottom: auto !important; 
        top:auto !important;
        height: auto !important;
        padding: 0 !important;
    }

    .mountain {
       margin-top: 6em;
    }
    #content.hidden + #nav :first-child { margin-top: 0; }

    .line > * { display: block; width: auto !important; }
    .homelink {margin: 1em 0 !important; width: auto !important}
    .homelink img {
        margin: 0 auto;
    }
    .line header h2 { font-size: 2em; color: black; white-space: normal; line-height: 1; }
    #site-header {}
    header p { max-width: 100%; }
    #aproposlink {
        position: absolute;
        background: none;
        width: 25px;
        padding: 0;
        z-index: 999;
        height: 25px;
        right: 15px;
        top: 62px;
        border-radius: 100%;
        background: black;
        color: white;
    }
    #aproposlink::after {
        content: "?";
        display: block;
        color: white;
        position: absolute;
        top: 0;
        left: -240px;
        font-size: .85em;
        line-height: 25px;
    }

    #site-header,
    .line header,
    #content {
        padding: 20px;
    }
    
    #intro_libre_acces { position: static; min-height: 6em; }

    #aside { display: none; }
    .content-texte .texte { min-width: 0; padding: 0; }
    .content-texte .texte span.ref { display: none; }
    .content-texte .texte img { display: block !important; margin: 1em 0; }

    .flex {
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
    }
}